.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;    
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: black;

    &-item{
        margin: 2rem;
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }
}

