.palette-container {
    display: flex;
    flex-direction: row;
    
    &-generate {
        flex-wrap: wrap;
        margin: 2rem;    
    }

    &-loaded {
        flex-wrap: wrap;
        margin: 2rem;  
    }
    &-homepage {
        &_1{
            animation: sway_1 30s ease infinite; 
            &:hover{
            animation-play-state: paused;
            }
        }
        &_2 {
            animation: sway_2 30s ease infinite; 
            &:hover{
            animation-play-state: paused;
            }
        }
        
    }

}

@keyframes sway_1 {

    0%{
        position: relative;
        left: -65%;
    }
    50% {
        position: relative;
        left: 0%;
    }
    100%{
        
        position: relative;
        left: -65%;
    }
    
}

@keyframes sway_2 {

    0%{
        position: relative;
        left: 0%;
    }
    50% {
        position: relative;
        left: -65%;
    }
    100%{
        
        position: relative;
        left: 0%;
    }
    
}